{% extends 'layout.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div id="game-board" class="mb-3" >
        {% for row in range(8) %}
            <div>
                {% for col in range(8) %}
                    <div class="game-cell {{ 'light' if (col+row) % 2 == 1 else 'dark' }}"
                         id="{{ col }}:{{ row }}">
                    <i id="icon-{{ col }}:{{ row }}"></i>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
